* {
    box-sizing: border-box;
}

.component {
    --size: 0;
    --padding: 0;
    min-height: 50px;
    width: var(--size);
    background: orange;
    margin-bottom: 15px;
    padding: var(--padding);
}

@supports not (color: var(--is-supported)) {
    .component {
        width: 0;
        padding: 0;
    }
}

.ie11 .component {
    width: 0;
    padding: 0;
}
