<div>
    styleF:
    {{ $ctrl.styleFallback | json }}<br/>
    style :
    {{ $ctrl.style | json }}<br/>
    styleC: 
    {{ $ctrl.styleCustomProperties | json}}<br/><br/>
    
    <!-- style from object -->
    <div class="component"
        teo-style="$ctrl.style"
    >
        style from object
    </div>

    <!-- style from object with fallback -->
    <div 
        class="component" 
        teo-style="$ctrl.style"
        teo-style-custom-properties-fallback="$ctrl.styleFallback" 
    >
        style from object with fallback
    </div>
    
    <!-- style from object with fallback -->
    <div 
        class="component" 
        teo-style="$ctrl.style"
        teo-style-custom-properties="$ctrl.styleCustomProperties"
        teo-style-custom-properties-fallback="$ctrl.styleFallback" 
    >
        style from object with fallback and custom properties
    </div>
    
    
    <!-- inline style -->
    <div 
        class="component" 
        teo-style="{
            color: 'red'
        }"
        teo-style-custom-properties="{
            '--size': $ctrl.ratio
        }"
        teo-style-custom-properties-fallback="$ctrl.styleFallback" 
    >
        inline style you can update only the values defined and you cannot reset
    </div>

    <br/>

    <button type="button" ng-click="$ctrl.updateStyle()">Update style</button>
    <button type="button" ng-click="$ctrl.replaceStyle()">Replace style</button>
    <button type="button" ng-click="$ctrl.init()">Reset to init state</button>
    <button type="button" ng-click="$ctrl.reset()">Reset style</button>
    
    <h2>partial actions:</h2>
</div>